<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap">

  <link rel="stylesheet" href="/libs/notifier/notifier.css">

  <link rel="stylesheet" href="/styles/fonts.css">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

  <div class="chat">
    <ul class="chat__list"></ul>
    <form class="chat__form">
      <textarea class="chat__input" name="message" rows="1"></textarea>
    </form>
  </div>

  <ul class="notification"></ul>

  <script src="/scripts/api.js"></script>
  <script src="/libs/notifier/notifier.js"></script>
  <script src="/libs/ui-textarea-auto-height/textAreaAutoHeight.js"></script>
  <script>
    const notificationListEl = document.querySelector('.notification');

    const notifier = new Notifier(notificationListEl);
  </script>
  <script>
    function getCookie(key) {
      key = key.replace(/([\^\$\|\.\*\+\?\(\)\[\]\{\}\\\\\/\-])/g, '\\$1');
      const match = document.cookie.match(new RegExp(`(?:^|; )${key}=([^;]*)`));
      if (!match) return null;
      return match[1];
    }
  </script>
  <script>
    const user = { nickname: getCookie('nickname') ?? 'unknown' };

    const chat_list = document.querySelector('.chat__list');
    const chat_form = document.querySelector('.chat__form');
    const chat_input = document.querySelector('.chat__input');

    const textAria = new TextAreaAutoHeight(chat_input);
    textAria.on('update', () => {
      chat_list.scrollTop = chat_list.scrollHeight;
    });

    (async () => {
      function delay(timeout) {
        return new Promise((resolve) => setTimeout(resolve, timeout));
      }

      while (true) {
        try {
          const response = await API.subscribe();

          if (!response.ok) {
            if (response.status === 401) window.location.href = '/login';
            await delay(1000);
            continue;
          }

          const { nickname, text, date } = await response.json();

          const messageEl = showMessage({
            nickname,
            text,
            date: new Date(date).toLocaleString()
          });

          messageEl.classList.add('message_default');
        } catch (ex) {
          await delay(1000);
        }
      }
    })();

    chat_input.addEventListener('keydown', (event) => {
      if (event.key === 'Enter' && !event.shiftKey) {
        event.preventDefault();
        chat_form.dispatchEvent(new Event('submit', { cancelable: true }));
      }
    });

    chat_form.addEventListener('submit', async (event) => {
      event.preventDefault();

      const message = new FormData(chat_form).get('message');

      if (message.length === 0) return;

      chat_input.value = '';
      textAria.update();

      const messageEl = showMessage({
        text: message,
        nickname: user.nickname,
        date: new Date().toLocaleString()
      });

      messageEl.classList.add('message_uploading');

      const response = await API.publish(message);

      messageEl.classList.remove('message_uploading');

      if (response.ok) {
        const { date } = await response.json();

        messageEl.querySelector('.message__date').textContent = new Date(date).toLocaleString();

        messageEl.classList.add('message_success');
      } else {
        messageEl.classList.add('message_error');

        notifier.show(response.statusText, notifier.types.error);
      }
    });

    const messageTemplate = `
      <li class="chat__item message">
        <div class="message__header">
          <span class="message__user-name"></span><span class="message__date"></span>
        </div>
        <div class="message_text"></div>
      </li>
    `;

    function showMessage({ text, date, nickname }) {
      const prevMessageEl = chat_list.lastElementChild;

      chat_list.insertAdjacentHTML('beforeend', messageTemplate);

      const currMessageEl = chat_list.lastElementChild;

      currMessageEl.querySelector('.message__user-name').textContent = nickname;
      currMessageEl.querySelector('.message__date').textContent = date;
      currMessageEl.querySelector('.message_text').textContent = text;

      if (prevMessageEl !== null) {
        const prevUserName = prevMessageEl.querySelector('.message__user-name').textContent;
        const prevDate = new Date(prevMessageEl.querySelector('.message__date').textContent);

        if (prevUserName === nickname && (new Date(date) - prevDate < 60000)) {
          currMessageEl.classList.add('message_nearest');
        }
      }

      chat_list.scrollTop = chat_list.scrollHeight;

      return currMessageEl;
    }

  </script>
</body>
</html>
