<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>

  <link rel="stylesheet" href="/libs/notifier/notifier.css">
  <link rel="stylesheet" href="./libs/ui-textarea-auto-height/textAreaAutoHeight.css">
  <link rel="stylesheet" href="./styles/style.css">
</head>
<body>

  <div class="chat">
    <ul class="chat__list"></ul>
    <form class="chat__form">
      <textarea class="chat__input" name="message" rows="1"></textarea>
      <div class="chat__controls">
        <input type="submit" class="chat__submit" value="send">
      </div>
    </form>
  </div>

  <ul class="notification"></ul>

  <script src="/scripts/api.js"></script>
  <script src="/libs/notifier/notifier.js"></script>
  <script src="/libs/ui-textarea-auto-height/textAreaAutoHeight.js"></script>
  <script>
    const notificationListEl = document.querySelector('.notification');

    const notifier = new Notifier(notificationListEl);
  </script>
  <script>
    const chat_list = document.querySelector('.chat__list');

    const chat_form = document.querySelector('.chat__form');
    const chat_input = document.querySelector('.chat__input');
    // const chat_messageSubmit = document.querySelector('.chat__submit');

    const textAria = textAreaAutoHeight(chat_input, 1, 10);

    (async function  subscribe() {
      const response = await API.subscribe();
      const { message } = await response.json();

      showMessage(message);

      subscribe();
    })();

    chat_input.addEventListener('keydown', (event) => {
      if (event.key === 'Enter' && !event.shiftKey) {
        event.preventDefault();
        chat_form.dispatchEvent(new Event('submit', { cancelable: true }));
      }
    });

    chat_form.addEventListener('submit', async (event) => {
      event.preventDefault();

      const message = new FormData(chat_form).get('message');

      if (message.length === 0) {
        notifier.show('A message can\'t be empty', notifier.types.error);
        return;
      }

      chat_input.value = '';
      textAria.update();

      // const messageEl = showMessage(message);

      const { ok } = await API.publish(message);

      // if (ok) {
      //   messageEl.classList.add('chat__item_success');
      // } else {
      //   messageEl.classList.add('chat__item_error');
      // }

      if (ok) {
        notifier.show('A message has sent', notifier.types.success);
      } else {
        notifier.show('An error has occurred', notifier.types.error);
      }
    });

    function showMessage(message) {
      const li = document.createElement('li');
      li.classList.add('chat__item');
      li.textContent = message;

      chat_list.append(li);
      chat_list.scrollTop = chat_list.scrollHeight;

      return li;
    }

  </script>
</body>
</html>
