* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #f1f1f1;
  --second-bg-color: #fff;

  --main-text-color: #555;
  --second-text-color: #aaa;

  --error-text-color: #bb0000;
  --success-text-color: #006600;

  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

body {
  height: 100vh;
  margin: 0;

  background-color: var(--main-bg-color);
}

/* chat -> */

.chat {
  margin: 0 auto;
  max-width: 600px;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;

  font-size: 16px;
}

.chat__list {
  flex: 1 1 0;

  background-color: #fff;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  overflow: auto;

  border-radius: 5px;
  list-style: none;

  box-shadow: 0 2px 4px 0 #bbb;
}

.chat__item {}

.chat__item_uploading {}

.chat__form {}

.chat__input {
  width: 100%;
  padding: 10px;
  padding-right: 15px;
  padding-left: 20px; /* 10 + 10 */
  border: none;

  border-radius: 5px;
  font-size: 14px;

  font-family: inherit;
  color: inherit;

  resize: none;
  outline: none;

  box-shadow: 0 2px 4px 0 #bbb;
}

  /* message -> */

  .message {
    display: block;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 10px;
  }

  .message_nearest {
    padding-top: 0;
    padding-bottom: 0;
  }

  .message_nearest .message__header {
    display: none;
  }

  .message_default {
    animation: message-background-default 500ms ease-in forwards;
  }

  .message_success {
    animation: message-background-success 500ms ease-in forwards;
  }

  .message_success .message__header::after {
    content: '\e800';

    position: absolute;
    top: 0;
    right: 0;

    font-family: 'chat-icons';
    font-size: 16px;

    color: rgb(191, 255, 191);
  }

  .message_error {
    animation: message-background-error 500ms ease-in forwards;
  }

  .message_error .message__header::before {
    content: '\e801';

    position: absolute;
    top: 0;
    right: 0;

    font-family: 'chat-icons';
    font-size: 16px;

    color: rgba(255, 191, 191, 1);
  }

  .message_uploading {}

  .message_uploading .message__header::after {
    content: '\e802';

    position: absolute;
    top: 0;
    right: 0;

    font-family: 'chat-icons';
    font-size: 16px;

    color: var(--main-bg-color);

    animation: spinner 500ms infinite linear;
  }

  .message__header {
    position: relative;

    margin-bottom: 5px;
  }

  .message__user-name {
    font-size: 14px;
    font-weight: 700;
  }

  .message__date {
    margin-left: 10px;

    font-size: 10px;
    font-weight: 400;
  }

  .message_text {
    font-size: 14px;
    padding-left: 10px;

    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  @keyframes message-background-default {
    0% {
      background-color: rgba(241, 241, 241, 1);
    }

    100% {
      background-color: rgba(241, 241, 241, 0);
    }
  }

  @keyframes message-background-error {
    0% {
      background-color: rgba(255, 191, 191, 1);
    }

    100% {
      background-color: rgba(255, 191, 191, 0.2);
    }
  }

  @keyframes message-background-success {
    0% {
      background-color: rgba(191, 255, 191, 1);
    }

    100% {
      background-color:rgba(191, 255, 191, 0);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /* <- message */

/* <- chat */

/* registration -> */

.container {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* <- registration */

/* form -> */

.form {
  width: 500px;

  background-color: var(--second-bg-color);
  padding: 30px;

  border-radius: 5px;
  box-shadow: 0 2px 4px 0 #bbb;
}

.form__header {
  margin: 0;
  margin-bottom: 30px;

  text-align: center;

  font-weight: 700;
  letter-spacing: 2px;
  font-size: 32px;
}

.form__group {
  margin: 30px 0;
}

.form__group:first-child {
  margin-top: 0;
}

.form__group:last-child {
  margin-bottom: 0;
}

.form__group_success .form__input {
  border-color: var(--success-text-color) !important;

  box-shadow: 0 0 4px 0 var(--success-text-color) !important;
}

.form__group_success .form__label {
  color: var(--success-text-color) !important;

  box-shadow: 0 0 4px 0 var(--success-text-color) !important;
}

.form__group_success .form_field-message {
  color: var(--success-text-color) !important;
}

.form__group_error .form__input {
  border-color: var(--error-text-color) !important;

  box-shadow: 0 0 4px 0 var(--error-text-color) !important;
}

.form__group_error .form__label {
  color: var(--error-text-color) !important;

  box-shadow: 0 0 4px 0 var(--error-text-color) !important;
}

.form__group_error .form_field-message {
  display: block;

  color: var(--error-text-color) !important;
}

.form__field {
  position: relative;

  display: block;
}

.form__label {
  position: absolute;
  top: 0;
  left: 10px;

  padding: 0 5px;

  font-size: 16px;
  font-weight: 300;
  color: var(--second-text-color);

  background-color: var(--second-bg-color);

  box-shadow: 0 0 4px 0 #ddd;

  transform: translateY(-60%);

  transition: box-shadow 200ms, color 200ms;

  /* pointer-events: none; */
  user-select: none;
}

.form__input {
  border: 1px solid #ddd;
  border-radius: 5px;

  background-color: var(--second-bg-color);

  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  color: var(--second-text-color);

  outline: none;

  box-shadow: 0 0 4px 0 #ddd;

  transition: box-shadow 200ms, color 200ms;
}

.form__input:hover,
.form__input:focus {
  box-shadow: 0 0 4px 0 #aaa;

  color: var(--main-text-color);
}

.form__input_text {
  width: 100%;
  padding: 10px;
}

.form__input_text:hover + .form__label,
.form__input_text:focus + .form__label {
  /* box-shadow: 0 0 4px 0 #aaa; */

  color: var(--main-text-color);
}

.form__input_button {
  padding: 10px 15px;
}

.form__input_button {
  cursor: pointer;
}

.form__input_button:hover {
  color: var(--main-text-color);
}

.form_field-message {
  display: none;
  padding: 5px 10px;

  font-size: 14px;
}

.form__wrpapper {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.form__link {
  color: var(--second-text-color);

  transition: color 200ms;
}

.form__link:hover {
  color: var(--main-text-color);
}

/* <- form */
