* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  height: 1px;
  margin: 0;
  background-color: #f1f1f1;
}

.chat {
  margin: 0 auto;
  max-width: 600px;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;

  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.chat_message-list {
  flex: 1 1 0;

  background-color: #fff;
  padding: 10px;
  padding-right: 15px;
  margin: 0;
  margin-bottom: 10px;

  overflow: auto;

  border-radius: 5px;
  list-style: none;
}

.chat_message-list li {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}


.chat_message-control {
  display: flex;
  flex-direction: row-reverse;
}



.chat_message-submit {

}



.chat_message-input {
  width: 100%;
  padding: 10px;
  padding-right: 15px;
  border: none;

  border-radius: 5px;
  font-size: inherit;
  font-family: inherit;
  resize: none;
  outline: none;
}


.status-message {
  display: none;

  position: fixed;
  top: 0;
  right: 0;

  width: 300px;
  max-height: 50%;
  overflow-y: auto;

  white-space: pre-wrap;

  background-color: #cacaca;
}
